.movies__card {
    width: 100%;
    overflow: hidden;
}

.movies__image {
    width: 100%;
    object-fit: cover;
    height: 151px;
}

.movies__container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 10px 0 13px;
}

.movies__title {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin: 4px 0 0;
    max-width: 220px;
    white-space: pre-wrap;
    height: 32px;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
}

.movies__like-button {
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    padding: 0;
    background-size: 10px 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../images/likebtn.svg);
    background-color: #313131;
    transition: opacity .4s linear;
    cursor: pointer;
}

.movies__like-button:hover {
    opacity: .5;
}

.movies__duration {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #8B8B8B;
    border-top: 1px solid #424242;
    margin: 0;
    padding-top: 6px;
}
