.films {
  max-width: 1140px;
  display: flex;
  margin: 0 auto;
  color: #fff;
}

.films__list {
  list-style: none;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(270px,1fr));
  /*grid-template-columns: repeat(auto-fit,minmax(282px,1fr));*/
  /*grid-template-columns: repeat(auto-fit, 282px);*/
  row-gap: 20px;
  column-gap: 17px;
}

.films__card {
  width: 100%;
  overflow: hidden;
}

.films__image {
  width: 100%;
  object-fit: cover;
  height: 151px;
}

.films__container {

}

.films__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  max-width: 220px;
  white-space: pre-wrap;
  height: 32px;
  overflow: hidden;
  /*text-overflow: ellipsis;*/
}
