.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    max-width: 410px;
    margin: 0 auto;
    padding: 74px 0 70px;
    box-sizing: border-box;
    height: 89vh;
}

@media screen and (max-width: 450px) {
    .profile {
        max-width: 260px;
    }
}

.profile__container {
    display: flex;
    flex-direction: column;
}

.profile__header {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0 auto 123px;
}

@media screen and (max-width: 768px) {
    .profile__header {
        margin: 236px auto 97px;
    }
}

@media screen and (max-width: 450px) {
    .profile__header {
        margin: 70px auto 81px;
    }
}

.profile__field {
    display: flex;
    justify-content: space-between;
}

.profile__label {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
    align-self: start;
    width: 205px;
    padding-left: 5px;
}

@media screen and (max-width: 450px) {
    .profile__label {
        width: 130px;
    }
}

.profile__input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 11px;
    line-height: 13px;
    color: #fff;
    width: 205px;
    text-align: right;
    padding: 0 6px 0 0;
}

@media screen and (max-width: 450px) {
    .profile__input {
        width: 130px;
    }
}

.profile__border {
    width: 100%;
    border-bottom: 1px solid #424242;
    margin: 16px auto 18px;
}

.profile__text {
    font-size: 10px;
    line-height: 12px;
    margin: 25px 0;
}

.profile__text_red {
    color: #EE3465;
}

.profile__button {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 13px;
    transition: opacity .4s linear;
    cursor: pointer;
}

.profile__button:hover {
    opacity: .6;
}

@media screen and (max-width: 450px) {
    .profile__button {
        font-size: 12px;
    }
}

.profile__button_disabled {
    color: #8B8B8B;
    cursor: auto;
}

.profile__button_disabled:hover {
    opacity: 1;
}

.profile__button-exit {
    color: #EE3465;
    margin-top: 15px;
}
