.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    max-width: 396px;
    margin: 0 auto;
}

@media screen and (max-width: 450px) {
    .register__form {
        max-width: 260px;
    }
}

.register__logo {
    width: 38px;
    height: 38px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../images/logo.svg);
    margin-top: 70px;
    margin-bottom: 40px;
    align-self: start;
}

@media screen and (max-width: 450px) {
    .register__logo {
        align-self: center;
        margin-top: 56px;
        margin-bottom: 50px;
    }
}

.register__header {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    align-self: start;
    margin: 0 0 40px;
}

@media screen and (max-width: 450px) {
    .register__header {
        align-self: center;
        margin: 0 0 80px;
    }
}

.register__label {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
    align-self: start;
    margin-bottom: 5px;
}

.register__input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #424242;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 9px;
    margin-bottom: 24px;
    font-weight: 500;
    color: #fff;
    width: 100%;
}

.register__input:last-of-type {
    margin-bottom: 7px;
}

.register__error {
    color: #EE3465;
    min-height: 12px;
    font-size: 10px;
    line-height: 12px;
    width: 100%;
    text-align: start;
}

.register__button {
    background-color: #4285F4;
    color: #fff;
    width: 100%;
    height: 45px;
    border-radius: 3px;
    border: none;
    font-size: 14px;
    transition: opacity .4s linear;
    cursor: pointer;
    margin-top: 133px;
}

.register__button:hover {
    opacity: .6;
}

@media screen and (max-width: 450px) {
    .register__button {
        align-self: center;
        margin-top: 222px;
        font-size: 12px;
    }
}

.register__caption {
    font-size: 14px;
    color: #8B8B8B;
    margin: 0;
    padding-top: 17px;
}

@media screen and (max-width: 450px) {
    .register__caption {
        font-size: 12px;
        padding-top: 15px;
    }
}

.register__link {
    text-decoration: none;
    color: #4285F4;
    transition: opacity .4s linear;
}

.register__link:hover {
    opacity: .6;
}
